*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'fonte-personalizada' ;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    font-family: 'fonte-personalizada';
}

li{
    list-style-type: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}


